*~
*.a
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
.deps/
enigma2_config.h
enigma2_config.h.in
enigma2.pc
index-enigma2.xml
DEADJOE
INSTALL
install-sh
*.la
.libs/
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
moc_*.cpp
*.o
py-compile
stamp-h1
*.tar.bz2
*.tar.gz
